@import "src/mixin";

.sidebar{
  background: white;
  min-width: 300px;
  height: calc(100vh - var(--header-height));
  box-shadow: var(--card-shadow);
  padding: 16px;


  &.white{
    box-shadow: none;
    background: transparent;
  }

  &.left-sidebar{
    @include getDown(500px){
      position: fixed;
      height: 100%;
      top: 0;
      transition: left .4s ease;
      background-color: white;
      z-index: 1002;
      left: -100%;
      padding: 0 !important;
      .card{
        box-shadow: none !important;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.open-mobile-sidebar{
      left: 0%;
    }

  }

  &.right-sidebar{
    @include getDown(500px){
      display: none;
    }
  }

}



.sidebar-backdrop{
  cursor: pointer;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(133, 133, 133, 0.28);
  position: fixed;
  z-index: 1001;

  &__close{
    display: none;
  }
}
