

.registration-form_modal {
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 1004;
    left: 50%;
    transform: translateX(-50%);
  }

.registration-form_modal {
  width: 700px!important;

}