.msg-item {
  background: #f5f5f5;
  margin-bottom: 4px;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  width: fit-content;
  height: auto;

  &.your-msg {
    background: var(--primary-400);
    color: white;
    margin-left: auto !important;
  }

  li {
    list-style: none;
    font-size: 14px;
    word-break: break-all;
    white-space: pre-line;
  }
}