@import "src/mixin";

.story_root {
  overflow-x: auto;
  display: inline-flex;
  position: relative;
  width: 100%;

  .next-btn {
    position: absolute;
    background: var(--primary-400);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: white;
    }
  }
}

.story {
  background-blend-mode: darken;
  flex: 1;
  background: white;
  height: 173px;
  width: 112px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;

  .story-image {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    img {
      border-radius: 100%;
    }
  }


  .story-username {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 12px;
  }

  .story-thumb {
    height: 120px;
    position: relative;
    overflow: hidden;
  }

  .story-btn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--primary-400);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: white;
    }
  }

  .create {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    P {
      line-height: 1.1;
    }
  }

}

.story-card {
  background-color: rgba(45, 45, 45, 0.14);
}


.add-story-modal {
  .modal {
    top: 0;
    width: 100vw !important;
    min-width: 100vw !important;
    min-height: 100% !important;
    background-color: #eeeeee;
    padding: 0;
    border-radius: 0;
  }
}

.create-story-content {
  position: relative;

  .close-button {
    z-index: 1010;
    position: absolute;
    background: var(--primary-400);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    right: 20px;
    top: 20px;

    svg {
      fill: white;
    }

  }
}

.my-stories-sidebar {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  width: 500px;
  background-color: white;

  .action-button {
    position: relative;
    bottom: 0
  }


  @include getDown(800px) {
    display: none;
  }

}


.create-story-type-card {
  .story-card {
    width: 220px;
    height: 330px;
    background-image: linear-gradient(40deg, #3f83f8, #ff00f5);

    &:nth-child(2) {
      background-image: linear-gradient(40deg, #ff7f58, #ff00f5);
    }
  }

  @include getDown(600px) {
    flex-direction: column;
    row-gap: 10px;
    padding: 40px 0;
  }

}


.mobile-add-story-btn {
  position: fixed;
  bottom: 10px;
}

.preview-story-modal {
  width: 900px;
  min-height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: hidden;

  @include getDown(600px) {
    width: 100%;
    top: 0;
    height: 100%;
    transform: translate(0, 0);
    left: 0;
    border-radius: 0 !important;
  }

  .card-meta {
    position: absolute;
    z-index: 1000;
    color: white
  }

  .preview-content {
    background: black;
    //width: 100%;
    //height: inherit;
    border-radius: 10px;


    .reactEasyCrop_Container {
      background: black;
    }


    .preview-content-img {
      width: 250px;
      height: 450px;
      margin: auto;
      background: black;

      img {
        width: 100%;
        height: 100%;
        //aspect-ratio: 1/1;
        object-fit: contain;
      }
    }
  }
}

.open-story-content {
  background-color: #000000;

  @include getDown(800px) {
    top: calc(0px - var(--header-height));
    position: relative;
    z-index: 1004;
  }

  @include getDown(600px) {

  }


  .story-view-card-wrapper {

    height: 80%;
    width: 500px;
    position: relative;

    @include getDown(600px){
      width: 100%;
    }

    .next-story-btn, .prev-story-btn {
      width: 40px;
      height: 40px;
      background: rgba(201, 201, 201, 0.55);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: -100px;
      transform: translateY(0) scale(1);
      transition: transform .4s ease;
      cursor: pointer;
      @include getDown(800px) {
        display: none;
      }

      &:hover {
        background: white;
        transform: translateY(-5px) scale(1.1);
      }
    }

    .next-story-btn {
      left: auto;
      right: -100px !important;
    }


    .story-view-card {
      background-color: #383838;
      border-radius: 10px;
      overflow: hidden;

      img {

        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      .story-view-header {
        position: absolute;
        top: 0;
        left: 0px;

        .progressbar {
          margin-top: 10px;
          padding: 0 10px;
          display: flex;

          .progress-item {
            list-style: none;
            transition: width .7s linear;
            height: 4px;
            border-radius: 10px;
            width: 100%;
            background-color: #ffffff;
          }
        }

        .story-view-author {
          padding-left: 12px;

          h4 {
            color: white;
            font-size: 12px;
          }
        }
      }
    }
  }


}
