@import "src/mixin";

.messenger-page{
  //background-color: red;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  height: calc(100vh - var(--header-height));
  overflow-y: hidden;
  .message-sidebar{
    height: calc(100vh - var(--header-height));
    min-width: 300px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    @apply bg-dark-10 dark:bg-dark-650 ;
  }

  .messenger-header{
    @apply bg-dark-200/10 text-dark-650;
  }

  .messenger-content{

    position: relative;

    .messenger-message-list{
      padding: 10px;
      height: calc(100vh - (var(--header-height) + 145px));
      overflow-y: auto;



      @include dark(){
      .messenger-message-list{
          .msg-item:not(.your-msg) {
            background: #2c2c2c;
            color: white;
          }
          }
        }

    }


    .message-input{
      //bottom: 0;
      //position: absolute;
      @apply bg-dark-10 dark:bg-dark-600 ;
      padding: 10px;
      textarea{
        @apply bg-dark-200/10 dark:text-dark-50 text-dark-650;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 12px;
        outline: none;
        width: 100%;
        max-width: 600px;
      }
    }
  }

  // style for mobile devices
  @include getDown(768px){
    .message-sidebar{
      width: 100%;
      height: auto;
      min-width: 100%;
    }
  }
}
