@import "src/mixin";

.badge {
  @apply bg-green-400
  text-white
  absolute;
  padding: 2px 6px;
  top: 2px;
  left: 31px
}

.navigation {
  @apply dark:bg-dark-500;
  display: flex;
  align-items: center;
  background: #ffffff;

  .main-nav {
    .nav-item {
      padding: 10px;

      a {
        @apply text-light-900;
        //color: ;
      }
    }

    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      flex-basis: 33%;

    }

    .nav-center {
      flex-basis: 67%;


      .nav_items {
        justify-content: space-between;
        max-width: 577px;

        @include getDown(1250px) {
          max-width: 80%
        }

        @include getDown(700px) {
          display: none

        }

        margin: auto;
        column-gap: 20px;

        & > div {
          width: 100%;
          margin: auto;
          display: flex;
          justify-content: center;
        }

        .avatar_logo {
          padding: 0 !important;
        }

        i {
          //top: 10px;
          font-size: 18px;
          //color: #444444;
          @apply text-light-850;
        }


        .active_nav {
          svg {
            fill: rgb(119 34 226 / 1);
          }
        }
      }
    }

    .nav-auth {
      flex-basis: 33%;
    }


  }


}

.h-48 {
  height: 48px
}

.logo {
  //background-image: url("../../assets/images/logo-full.svg");
  background-image: url("../../assets/images/logo.svg");
  background-repeat: no-repeat;

  .p361ku9c {
    fill: white;
  }
}

.nav-logo {
  @include getDown(800px) {
    flex: 0 !important;
  }
}

.nav-auth {
  @include getDown(800px) {
    flex: 0 !important;
  }
}

//.nav_items{
//  @include getDown()(800px){
//    justify-content: space-between;
//    padding: 0 20px;
//  }
//  @include getDown()(500px){
//    padding: 0 2px;
//    .avatar_logo{
//      margin-right: 0;
//      margin-left: 15px;
//    }
//    .nav_item{
//      padding-left: 0!important;
//      padding-right: 0!important;
//    }
//  }
//}

.png_icon {
  @apply dark:invert-89 sepia-6 hue-rotate-185;
  // bg-[url('src/assets/icon/icon_settings.png')]
  background-position: -147px -92px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  //-webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg);
}

.active_png_icon {
  //@apply bg-[url("src/assets/icon/icon_settings.png")]
  -webkit-filter: invert(89%) sepia(46%) hue-rotate(185deg);
}

.icon_arrow_down {
  background-position: -169px -131px;
}

.icon_arrow_right {
  background-position: -158px -13px
}

.icon_arrow_left {
  background-position: -96px -46px;
}

.icon_logout {
  background-image: url("src/assets/icon/icon_image6.png");
  background-position: 0px -46px;
}

.icon_feedback {
  background-image: url("src/assets/icon/icon_image6.png");
  background-position: 0px -25px;
}

.icon_moon {
  background-image: url("src/assets/icon/icon_image7.png");
  background-position: 0px -330px;
}

.icon_help {
  background-image: url("src/assets/icon/icon_image7.png");

  background-position: 0px -393px;
}

.icon_gear {
  background-position: -147px -92px;
}

.icon_comment {
  background-image: url("src/assets/icon/icon_thumb_up.png");
  background-position: 0px -259px;
}

.icon_share {
  background-image: url("src/assets/icon/icon_thumb_up.png");
  background-position: 0px -315px;
}

.icon_thumb_up {
  background-image: url("src/assets/icon/icon_thumb_up.png");
  background-position: 0px -297px;
}

.icon_camera {
  width: 16px;
  height: 16px;
  background-image: url("src/assets/icon/icon_thumb_up.png");
  background-position: 0px -420px;
}

.icon_emoji {
  width: 16px;
  height: 16px;
  background-image: url("src/assets/icon/icon_thumb_up.png");
  background-position: 0px -488px;
}

.icon_gif {
  width: 16px;
  height: 16px;
  background-image: url("src/assets/icon/icon_thumb_up.png");
  background-position: 0px -522px;
}

.icon_check {
  background-image: url("src/assets/icon/icon_image3.png");
  background-position: 0px -25px;
  background-size: auto;
  width: 24px;
  height: 24px;
}

.icon_image_plus {
  background-image: url("src/assets/icon/icon_image8.png");
  background-position: 0px -58px;
  background-size: auto;
  width: 20px;
  height: 20px;
}

.icon_times_light {
  background-image: url("src/assets/icon/icon_settings_2.png");
  background-position: -21px -92px;
  background-size: auto;
  width: 20px;
  height: 20px;
}

.icon_feed, .icon_discover, .icon_group2, .icon_user, .icon_image, .icon_pen, .icon_edit, .icon_friends, .icon_friends_request, .icon_friends_suggestion,
.icon_arrow-left, .icon_friends_all{
  background-image: url("src/assets/icon/47R6FPZVikW.png");
  background-position: 0px -897px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon_friends{
  background-image: url("src/assets/icon/FYbzbEn5foK.png");
  background-position: 0px -218px;
}.icon_arrow-left{
   background-image: url("src/assets/icon/Z_p9oYVUuFW.png");
   background-position: -50px -59px;
}
.icon_friends_request{
  background-image: url("src/assets/icon/TI5rPo2AqMN.png");
  background-position: 0px -105px;
}
.icon_friends_suggestion{
   background-image: url("src/assets/icon/TI5rPo2AqMN.png");
   background-position: 0px -42px;
}
.icon_friends_all{
   background-image: url("src/assets/icon/Fc1VqfS43xb.png");
   background-position: 0px -155px;
}
.icon_discover {
  background-image: url("src/assets/icon/pK4bB6p7OS2.png");
  background-position: 0px -33px;
}

.icon_group2 {
    background-image: url("src/assets/icon/pK4bB6p7OS2.png");
    background-position: 0px -54px;
}

.icon_plus_16{
  background-image: url("src/assets/icon/47R6FPZVikW.png");
  background-position: 0px -1332px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon_user{
  background-image: url("src/assets/icon/DDr4AnxwLFW.png");
  background-position: 0px -302px;
}

.icon_image{
  background-image: url("src/assets/icon/47R6FPZVikW.png");
  background-position: 0px -434px
}

.icon_pen{
  background-image: url("src/assets/icon/47R6FPZVikW.png");
  background-position: -0px -918px;
}
.icon_edit{
  background-position: 0px -540px;
  background-image: url("src/assets/icon/47R6FPZVikW.png");

}

.icon_check_24{
  background-image: url("src/assets/icon/Z_p9oYVUuFW.png");

  background-position: -58px -26px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon_group2_16{
  background-image: url("src/assets/icon/ibVpKGoRo9x.png");
  background-position: 0px -425px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}



.png_filter_accent {
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  filter: var(--filter-accent);
}

.png_filter_white {
  --filter-always-white: invert(100%) !important;
  filter: var(--filter-always-white);
}

.png_filter_primary {
  --filter-primary: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%) !important;
  filter: var(--filter-primary);
}


.rounded_circle {
  @apply bg-dark-500/10 dark:bg-light-200/30 w-9 h-9 rounded-full flex items-center justify-center hover:bg-dark-900/20 dark:hover:bg-light-400/50  cursor-pointer;
}

.circle-hover-btn {
  @apply w-8 h-8 hover:bg-light-800 dark:hover:bg-dark-600 rounded-full flex items-center justify-center cursor-pointer;
}


.dropdown-top-right-animation {
  //transform: translateY(10px) scale(0);
  &-enter {
    opacity: 0;
    transition: transform 200ms;
    transform-origin: top right;
    transform: translateY(10px) scale(0);
  }

  &-enter-active {
    //transition: transform 200ms;
    //transform-origin: top right;
  }

  &-enter-done {
    opacity: 1;
    transform-origin: top right;
    transition: transform 200ms;
    transform: translateY(0px) scale(1);
  }

  &-exit {
    opacity: 1;
    transform-origin: top right;
    transition: transform 300ms;
    transform: translateY(0px) scale(1);
  }

  &-exit-active {
    transition: transform 300ms;
    transform-origin: top right;
    transform: translateY(10px) scale(0);
  }

  &-exit-done {

  }
}

