@import "src/mixin";
.header{
  //background: white;
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //box-shadow: 0 2px 16px -7px #6c6c6c4f;
  //z-index: 1000;
}

.header-space{
  height: var(--header-height);
}


.more-dropdown-menu{
  position: absolute;
  top: 50px;
  right: 0;

  @include getDown(768px){
    right: auto;
    left: -50px;
    transform: translateX(-50%);
  }
}
