
.image-chooser{
  border: none;
  background: rgba(185, 210, 255, 0.2);
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(185, 210, 255, 0.45);
  transition: box-shadow .2s ease;
  width: 100%;
  color: #6b6b6b !important;
  outline: none !important;

}