.users-avatar-list{
  margin-left: 15px;
  & > div{
    margin-left: -16px;
    border: 2px solid rgba(0, 0, 0, 0) !important;
    img{
      border: 2px solid rgba(0, 0, 0, 0) !important;
      //width: 40px;
      //height: 40px;
    }

  }
}