@import "mixin";



.content{
  width: 100%;
  margin: auto;
  padding-top: 16px;
  @include getDown(900px){
    padding-top: 0;
  }

  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
  &::-webkit-scrollbar{
    background-color: transparent;
  }
}


@media  screen and (min-width: 900px) {
  .content{
    max-width: 500px;
  }
}
@media  screen and (min-width: 1300px) {
  .content{
    max-width: 700px;
  }
}



.icon-box{
  width: 40px;
  height: 40px;
  background: #eeeeee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background: #ffffff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 1px 10px -4px #5d74a361;
.card-meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  h4{
    font-size: 14px;
    font-weight: 600;
  }

  a{
    font-size: 12px;
    color: var(--primary-400);
    font-weight: 600;
  }
}
}

.btn{
  outline: none;
  border: none;
  padding: 8px 20px;
  border-radius: 100px;
  font-size: 14px;
  background: #ececec;
}
.btn-primary{
  color: white !important;
  background-image: linear-gradient(to right, #4144ff, #4570d3) !important;
}

.online {
  width: 10px;
  height: 10px;
  background: #4570d3;
  border-radius: 100%;
  position: relative;

  div {
    display: block;
    top: 50%;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: zoomInOut 2s linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    background: #ff2222;
  }
}


@keyframes zoomInOut {
  0%{ width: 10px }
  100%{ border: 20px; }

}


.min-w-100px{
  min-width: 100px;
}

.input-elem{
  outline: none;

  &[type='text'], &[type='email'], &[type='url'], &[type='password'], &[type='number'], &[type='date'], &[type='datetime-local'], &[type='month'], &[type='search'], &[type='tel'], &[type='time'], &[type='week'], &[multiple], &textarea, &select {
    background: #ffffff;
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--primary-400);
    padding: 6px 10px;

  }

}

.icon{
  background-size: auto;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon2{
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
.friend-icon{
  background-image: url(icons/4GR4KRf3hN2.png);
  background-position: 0px -296px;
}
.group-icon{
  background-image: url(icons/4GR4KRf3hN2.png);
  background-position: 0px -37px;
}
.save-icon{
  background-image: url(icons/4GR4KRf3hN2.png);
  background-position: 0px -185px
}
.love-icon{
  background-image: url(icons/4GR4KRf3hN2.png);
  background-position: 0px -37px;
}
.watch-icon{
  background-image: url(icons/4GR4KRf3hN2.png);
  background-position: 0px -518px
}
.feed-icon{
  background-image: url(icons/feed.png);
}
.video-icon{
  background-image: url(icons/video.png);
}
.photo-icon{
  background-image: url(icons/image.png);
}
.emoji-icon{
  background-image: url(icons/imoji.png);
}

.like-icon{
  background-image: url(icons/like.svg);
}

.menu-item-hover{
  transition: background-color .4s ease;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    background: rgba(67, 116, 232, 0.09)
  }
}

.add-feed-input{

  border: none !important;
  outline: none !important;
  &:focus{
    border: none !important;
    outline: none !important;

  }
}

.tab-button{
  list-style-type: none;
  padding: 8px 20px;
  border-radius: 6px;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
}

.home-layout-link{
  overflow-x: auto;
  li{
    white-space: nowrap;
    &.active{
      background: var(--primary-400);
      color: white;
    }
  }
  @include getDown(600px){
    margin-top: 14px;
    padding: 0 10px;
  }
}