
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --primary-400: #4374e8;
  --neutral-200: rgb(229 229 229);
  --header-height: 100px;
  --card-shadow: 1px 1px 10px -4px rgb(61 61 61 / 35%);
  --box-shadow-1: 1px 1px 25px -5px rgb(61 61 61 / 35%);
  //background: #f5f6f8;

  --accent: #e81c43;


}

body {
  margin: 0;
  @apply bg-body-light dark:bg-body-dark;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
