@mixin getDown($size){
  @media screen and (max-width: #{$size}) {
    @content()
  }
}

@mixin getUp($size){
  @media screen and (min-width: #{$size}) {
    @content()
  }
}


@mixin dark(){
  @at-root {
    .dark{
      @content()
    }
  }
}

@mixin scrollbar(){
  &::-webkit-scrollbar{
    //background-color: #5d3535;
    width: 2px;
  }
  &::-webkit-scrollbar-track{
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgba(155, 155, 155, 0.31);
  }

}